.pro-search{
  display: flex;
  background-color: var(--surface-200);
  border-radius: 10px;
  width: 305px;
  height: 45px;
  .pi{
    width: 20px;
    font-size: 1em;
    color: sienna;
    margin-top: 13px;
    margin-left: 10px;
  }
  .search-input{
    height: 45px;
    background-color: transparent;
    color: var(--surface-600);
    border: none;
    outline: none;
    margin-left: 5px;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
