<div class="banner">
  <div class="grid">
    <p-carousel [value]="banners" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
      <ng-template let-banner pTemplate="item">
          <div class="product-item">
              <div class="product-item-content">
                  <div>
                      <img src="{{banner.image}}" alt="prk" class="product-image" />
                  </div>
                  <h4 class="con">{{banner?.name}}</h4>
              </div>
          </div>
      </ng-template>
  </p-carousel>
  </div>
</div>
