<div class="trending-item">
  <h3>Trending Items</h3>
  <div class="row grid trending">
    <div class="col-6">
      <img src="https://lapolo-backend-static-file-rest-api.s3.amazonaws.com/media/None/100-years-of-fashion-cover-lapolo.jpg" width="100%" height="400px" alt="dndn">
    </div>
    <div class="col-6">
      <div class="grid row">
          <div class="col-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvTiABYZA7YABr9un0dxRTcDT1FyMJacNI0A&usqp=CAU" width="100%" height="190px" alt="dhdd">
          </div>
          <div class="col-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUVN0XoXYNzyTOnhvITnCIS4dbKxwK90fTaA&usqp=CAU" width="100%" height="190px" alt="hdhd">
          </div>
      </div>
      <div class="grid row">
        <div class="col-6">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSea6uxsRHMThsnB0dGtNtJpRGuWXLkUT0f4w&usqp=CAU" width="100%" height="190px" alt="dhdd">
        </div>
        <div class="col-6">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTHnPYHff51cSiClG_eGesVnQfBn-hfjtVNQ&usqp=CAU" width="100%" height="190px" alt="hdhd">
        </div>
    </div>

        </div>
  </div>

</div>
