<div class="admin-dash">
  <p-card header="Dashboard" subheader="Latest Update">
    <div class="grid">
      <div class="col-3">
        <p-card>
          <div class="d-item">
            <div>
              <i class="pi pi-shopping-cart"></i><br/>
              <span class="order">Orders</span>
            </div>
            <span class="number">{{order?.count}}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-orders">
          <div class="d-item">
            <div>
              <i class="pi pi-briefcase"></i><br/>
              <span class="order">Products</span>
            </div>
            <span class="number">{{product?.count}}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-orders">
          <div class="d-item">
            <div>
              <i class="pi pi-users"></i><br/>
              <span class="order">Customers</span>
            </div>
            <span class="number">{{customer?.user}}</span>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-orders">
          <div class="d-item">
            <div>
              <i class="pi pi-dollar"></i><br/>
              <span class="order">Tatal Sales</span>
            </div>
            <span class="number">{{totalSales?.totalSales |currency}}</span>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
